<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteDev.Common" version="8.0.0" targetFramework="net471" />
  <package id="ByteDev.Io" version="7.1.0" targetFramework="net471" />
  <package id="ByteDev.Strings" version="8.0.0" targetFramework="net471" />
  <package id="ByteDev.Time" version="2.1.0" targetFramework="net471" />
  <package id="ByteDev.VideoArchive" version="1.0.0" targetFramework="net471" />
</packages>